<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editing Product: &laquo;[[${product.title}]]&raquo;</title>
</head>
<body>
<a th:href="@{/catalogue/products/{productId}(productId=${product.id})}">&larr; To Product</a>
<h1>Editing Product: &laquo;[[${product.title}]]&raquo;</h1>
<div th:if="${errors}">
    <h2>Has errors</h2>
    <ul>
        <li th:each="error: ${errors}" th:text="${error}"></li>
    </ul>
</div>
<form method="post" th:action="@{/catalogue/products/{productId}/edit(productId=${product.id})}">
    <label>
        Name:<br>
        <input type="text" name="title" th:value="${payload != null ? payload.title : product.title}">
    </label><br>
    <label>
        Description:<br>
        <textarea name="details" th:text="${payload != null ? payload.details : product.details}"></textarea>
    </label><br>
    <button type="submit">Edit</button>
</form>
</body>
</html>