<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Product</title>
</head>
<body>
<a th:href="@{/catalogue/products/list}">&larr; To Products List</a>
<h1>New Product</h1>
<div th:if="${errors}">
    <h2>Has errors</h2>
    <ul>
        <li th:each="error: ${errors}" th:text="${error}"></li>
    </ul>
</div>
<form method="post" th:action="@{/catalogue/products/create}">
    <label>
        Name:<br>
        <input type="text" name="title" th:value="${payload?.title()}">
    </label><br>
    <label>
        Description:<br>
        <textarea name="details" th:value="${payload?.details()}"></textarea>
    </label><br>
    <button type="submit">Create</button>
</form>
</body>
</html>