<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${product.title}]]</title>
</head>
<body>
<a th:href="@{/catalogue/products/list}">&larr; To Products List</a>
<h1 th:text="${product.title}"></h1>
<ul>
    <li><strong>ID</strong>: <span th:text="${product.id}"></span></li>
    <li><strong>Title</strong>: <span th:text="${product.title}"></span></li>
    <li><strong>Details</strong>: <span th:text="${product.details}"></span></li>
</ul>
<a th:href="@{/catalogue/products/{productId}/edit(productId=${product.id})}">Modificate</a>
<form method="post" th:action="@{/catalogue/products/{productId}/delete(productId=${product.id})}">
<button type="submit">Delete</button>
</form>
</body>
</html>